body {
  background-color :#fff;
  color :#333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size :13px;
  margin :33px;
  line-height :18px;
}

.h1 {
  margin : 18px 0;
}

.h2 {
  margin : 18px 0;
}

.field {
  margin-bottom :10px;
  display :block;
}

.book_title {
  display :block;
}

.book_body {
  display :block;
}

.show-p {
  margin :33px;
}