* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin :30px;
  line-height :18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.a {
  font-size :30px;
}

.b {
  margin :30px;
  font-size :13px;
}